body {
  background-color: #ffffff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: #213547;
  min-width: 360px;
}


body button {
  background-color: #f9f9f9;
  color: #213547;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.answer {
  padding: 1em;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 2px;
}

.color0{
  background-color: #f2f2f2;
}

.color1{
  background-color: #aefd5f;
}

.color2{
  background-color: #ff9aff;
}

.color3{
  background-color: #70a8ff;
}

.submit {
  background-color: #176cd9;
  width: 15em;
  margin: 1em;
  color: #eeeeee;
}

.match4 {
  margin: .5%;
  width: 22%;
  height: 6em;
  padding: .5%;
  font-size: .9em;

}

.match4.selected {
  background-color: #cccccc;
}

.sqleft {
  width: 28%;
  float: left;
}
.sqleft .word {
  padding: 0;
  margin: 0;
  height: 12em;
  border-right: 1px dashed #213547;
}
.sqleft li {
  list-style: none;
}

.sqright {
  padding-left: 3%;
  width: 67%;
  float: left;
}
.sqright .word {
  height: 12em;
  padding-left: 5%;
}

.sqleft .letter {
  float: none;
  margin: .25em auto;
}
.letter {
  display: block;
  border: 1px solid #213547;
  padding .25em;
  margin: .1em;
  width: 2em;
  float: left;
}

.buttonsection {
  clear: both;
}
div p {
  padding-left: 1em;
  padding-right: 1em;
}

.math12 p {
  min-height: 130px;
  line-height: 130px;

}
.math12 p span {
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
  font-size: 2em;
}

.math12 p img {
  display: inline-block;
  vertical-align: middle;
  padding: 0 1em;
  width: 100px;
}
#root fieldset {
  border: none;
}

.next a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #11c124;
  width: 15em;
  margin: 1em;
  color: #eeeeee;
  box-sizing: border-box;
  display: inline-block;
}

.message {
  font-weight: bold;
}
